@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    padding: 0 2% 0 2%;
}

.img {
    padding: 0 2% 0 2%;
   
}

.img-hover {
    position: absolute;
    padding-top:0 ;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}


