@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    padding: 0 3% 0 3%;
}

.img {
    padding: 0 15% 0 15%;
   
}

.img-hover {
    position: absolute;
    padding-top: ;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}

.img-hover:hover {
    opacity: 1;   
}

#map {
    width: 100%;
}